<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILogInService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISignUpService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileDataService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileModifierService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerFriendsListService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRoomService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1011/LogInService/LogInService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogInService"
                contract="LogInService.ILogInService" name="NetTcpBinding_ILogInService">
                <identity>
                    <userPrincipalName value="LAPTOP-1UFSE68T\armas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1011/LogInService/SignUpService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISignUpService"
                contract="LogInService.ISignUpService" name="NetTcpBinding_ISignUpService">
                <identity>
                    <userPrincipalName value="LAPTOP-1UFSE68T\armas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/ChatService/ChatService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService"
                contract="Service.IChatService" name="NetTcpBinding_IChatService">
                <identity>
                    <userPrincipalName value="LAPTOP-1UFSE68T\armas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1012/ProfileService/ProfileDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileDataService"
                contract="ProfileService.IProfileDataService" name="NetTcpBinding_IProfileDataService">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1012/ProfileService/ProfileModifierService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileModifierService"
                contract="ProfileService.IProfileModifierService" name="NetTcpBinding_IProfileModifierService">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1012/ProfileService/PlayerFriendsListService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerFriendsListService"
                contract="ProfileService.IPlayerFriendsListService" name="NetTcpBinding_IPlayerFriendsListService">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1013/RoomService/RoomService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService"
                contract="RoomService.IRoomService" name="NetTcpBinding_IRoomService">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>