<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProfileDataService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileModifierService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerFriendsListService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IOtherProfileDataService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITopPlayersListService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICreateGameService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendOperationsService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISendRoomInvitationService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerFriendRequestService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRoomService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILogInService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISignUpService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChangePasswordService">
                    <reliableSession inactivityTimeout="00:00:59" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1012/ProfileService/ProfileDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileDataService"
                contract="ProfileService.IProfileDataService" name="NetTcpBinding_IProfileDataService" />
            <endpoint address="net.tcp://localhost:1012/ProfileService/ProfileModifierService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileModifierService"
                contract="ProfileService.IProfileModifierService" name="NetTcpBinding_IProfileModifierService" />
            <endpoint address="net.tcp://localhost:1012/ProfileService/PlayerFriendsListService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerFriendsListService"
                contract="ProfileService.IPlayerFriendsListService" name="NetTcpBinding_IPlayerFriendsListService" />
            <endpoint address="net.tcp://localhost:1012/ProfileService/OtherProfileDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOtherProfileDataService"
                contract="ProfileService.IOtherProfileDataService" name="NetTcpBinding_IOtherProfileDataService" />
            <endpoint address="net.tcp://localhost:1012/ProfileService/TopPlayersListService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITopPlayersListService"
                contract="ProfileService.ITopPlayersListService" name="NetTcpBinding_ITopPlayersListService" />
            <endpoint address="net.tcp://localhost:1015/GameService/GameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameService"
                contract="GameService.IGameService" name="NetTcpBinding_IGameService" />
            <endpoint address="net.tcp://localhost:1015/GameService/CreateGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICreateGameService"
                contract="GameService.ICreateGameService" name="NetTcpBinding_ICreateGameService" />
            <endpoint address="net.tcp://localhost:1014/FriendsService/FriendsService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendOperationsService"
                contract="FriendService.IFriendOperationsService" name="NetTcpBinding_IFriendOperationsService" />
            <endpoint address="net.tcp://localhost:1014/FriendsService/RoomInvitationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISendRoomInvitationService"
                contract="FriendService.ISendRoomInvitationService" name="NetTcpBinding_ISendRoomInvitationService" />
            <endpoint address="net.tcp://localhost:1014/FriendsService/FriendRequestService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerFriendRequestService"
                contract="FriendService.IPlayerFriendRequestService" name="NetTcpBinding_IPlayerFriendRequestService" />
            <endpoint address="net.tcp://localhost:1010/ChatService/ChatService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService"
                contract="Service.IChatService" name="NetTcpBinding_IChatService" />
            <endpoint address="net.tcp://localhost:1013/RoomService/RoomService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService"
                contract="RoomService.IRoomService" name="NetTcpBinding_IRoomService" />
            <endpoint address="net.tcp://localhost:1011/LogInService/LogInService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogInService"
                contract="LogInService.ILogInService" name="NetTcpBinding_ILogInService" />
            <endpoint address="net.tcp://localhost:1011/LogInService/SignUpService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISignUpService"
                contract="LogInService.ISignUpService" name="NetTcpBinding_ISignUpService" />
            <endpoint address="net.tcp://localhost:1011/LogInService/ChangePasswordService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChangePasswordService"
                contract="LogInService.IChangePasswordService" name="NetTcpBinding_IChangePasswordService" />
        </client>
    </system.serviceModel>
</configuration>