<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="StrategoEntities" connectionString="Data Source=LAPTOP-4SRV2TJ2\SQLEXPRESS;Initial Catalog=Stratego;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
