<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IChatService">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILogInService">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ISignUpService">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:1010/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService" contract="Service.IChatService"
                name="NetTcpBinding_IChatService">
				<identity>
					<userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:1011/LogInService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILogInService" contract="LogInService.ILogInService"
                name="NetTcpBinding_ILogInService">
				<identity>
					<userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:1011/SignUpService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISignUpService" contract="LogInService.ISignUpService"
                name="NetTcpBinding_ISignUpService">
				<identity>
					<userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>